---
import type { InferGetStaticParamsType } from "astro";
import { getShirt, getShirts } from "../../utils/sanity";
import Layout from "../../layouts/Layout.astro";
import ProductSelection from "../../components/shop/ProductSelection.vue";

export async function getStaticPaths() {
  const shirts = await getShirts();
  return shirts.map((shirt) => ({
    params: { slug: shirt.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const shirt = await getShirt(slug);
---

<Layout title={shirt.name} description={shirt.excerpt}>
  <main
    class="container box-border grid h-full grid-cols-1 gap-4 pb-5 pt-5 sm:grid-cols-2"
  >
    <ProductSelection product={shirt} client:load />
  </main>
</Layout>
