---
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "astro-portabletext";
import { urlFor } from "../../utils/image";
import { getShirt, getShirts, type ShirtColor } from "../../utils/sanity";
import type { ImageAsset } from "sanity";
import ProductLayout from "../../layouts/ProductLayout.astro";
import ProductSelection from "../../components/shop/ProductSelection.vue";
import { Picture } from "astro-imagetools/components";

export async function getStaticPaths() {
  const shirts = await getShirts();
  return shirts.map((shirt) => ({
    params: { slug: shirt.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const shirt = await getShirt(slug);
---

<ProductLayout title={shirt.name} description={shirt.excerpt}>
  <section
    class="container box-border grid h-full grid-cols-1 gap-4 pb-5 pt-5 sm:grid-cols-2"
  >
    <ProductSelection product={shirt} client:load />
  </section>
</ProductLayout>
