---
import Layout from "../layouts/Layout.astro";
import ContactUsForm from "../components/ContactUsForm.vue";
---

<Layout
  title="Engsta Rides | Contact Us"
  description="Provide feedback, compliments, or ask a question at our Contact Us form."
>
  <section class="container box-border grid grid-cols-1 pb-5 pt-14">
    <h1 class="pageHeader">Contact Us</h1>
    <main>
      <ContactUsForm client:load />
    </main>
  </section>
</Layout>
