---
import Welcome from "../components/Welcome.astro"
import Shirts from "../components/Shirts.astro"
import Layout from "../layouts/Layout.astro"
import Icon from "../components/common/Icon.vue"
import { getShirts } from "../utils/sanity"
import { BackgroundPicture, Picture } from "astro-imagetools/components"
const shirts = await getShirts()
const openSky = "/src/assets/pics/open_sky.jpeg"
const sunsetCars = "/src/assets/pics/sunset_cars.jpeg"
---

<Layout title="Engsta Rides" description="Shirts that make you go vroom vroom">
  <BackgroundPicture
    src={sunsetCars}
    breakpoints={[400, 600, 800, 1024, 1280, 1536]}
    format={["avif", "webp"]}
    preload="avif"
    fallbackFormat="jpg"
    loading="eager"
    backgroundPosition="50% 60%"
  >
    <div
      class="box-border flex h-[30rem] flex-col items-center justify-center gap-y-10 px-10 md:h-[450px] lg:px-14 xl:h-[500px]"
    >
      <h1
        class="text-shadow text-dash text-center text-5xl font-bold uppercase tracking-widest text-light lg:text-8xl"
      >
        WELCOME
      </h1>
    </div>
  </BackgroundPicture>
  <main
    id="main__content"
    class="container box-border flex flex-col gap-16 pb-32 pt-14"
  >
    <h1 class="text-center">
      <em class="font-accent">NEWEST</em>
      <p class="text-graffiti text-4xl tracking-wider sm:text-5xl">
        Spray Paint
      </p>
      <em class="font-accent">COLLECTION</em>
    </h1>
    {shirts.length ? <Shirts shirts={shirts} /> : <Welcome />}
  </main>
  <!-- <section class="mb-4 ml-auto mr-auto flex flex-col gap-y-6 rounded bg-white px-8 pb-8 pt-6 text-center shadow-md">
    <h1 class="text-center text-5xl text-graffiti mb-6">New Products</h1>
    <Picture
      src={"/src/assets/pics/engsta_soon.png"}
      layout="fixed"
      alt="Coming soon.. new products"
      format="png"
      breakpoints={[230, 400, 600]}
      sizes={`(max-width: 360px) 230px, (max-width: 720px) 400px, 600px`}
    />
  </section> -->
  <section
    class="box-border flex flex-col items-center gap-y-4 bg-gray-600 py-20 text-accent"
  >
    <h1 class="text-dash mb-9 text-center font-accent text-6xl">
      Odin's Kingdom
    </h1>
    <i class="block text-center text-[#fa375a]">
      <Icon name="la-airbnb" scale="5" label="Engsta Rides Official Airbnb" />
    </i>
    <h2 class="text-center font-accent text-4xl">
      AirBnB - Odin's Kingdom, Oklahoma
    </h2>
    <a
      href="https://www.airbnb.com/rooms/1115942653367422106"
      class="mt-12 w-80 rounded-full bg-accent px-4 py-2 text-center text-lg font-bold text-white hover:opacity-80 lg:w-1/4"
    >
      VIEW AIRBNB
    </a>
  </section>
  <section class="grated-bg py-14">
    <div
      class="mb-4 ml-auto mr-auto flex w-full max-w-lg flex-col gap-y-6 rounded px-8 pb-8 pt-6 text-center text-white shadow-md"
    >
      <Picture
        src="/src/assets/pics/palooza_2024.jpg"
        alt="PCA Palooza"
        attributes={{
          img: {
            class: "ml-auto mr-auto max-h-80",
          },
        }}
        layout="fill"
        objectFit="contain"
      />
      <p class="mb-2 mt-6 text-center font-accent text-2xl">Exciting news!</p>
      <strong class="mb-5 text-center font-accent text-3xl">
        Engsta Rides is now a proud sponsor of Porsche Palooza 2025! See you
        Soon.
      </strong>
      <p>
        <a
          class="text-accent underline hover:opacity-80"
          href="https://www.pca-palooza.com"
        >
          Click here for info
        </a>
      </p>
    </div>
  </section>
  <script is:inline>
    document.addEventListener("astro:page-load", function () {
      const searchParams = new URLSearchParams(window.location.search)
      if (searchParams.get("scroll")) {
        const element = document.getElementById("main__content")
        if (element) {
          element.scrollIntoView({ behavior: "smooth" })
        }
      }
    })
  </script>
</Layout>
