---
import Card from "../components/Card.astro";
import Welcome from "../components/Welcome.astro";
import Shirt from "../components/Shirt.astro";
import Layout from "../layouts/Layout.astro";
import { getShirts } from "../utils/sanity";

const shirts = await getShirts();
---

<Layout title="Engsta Rides" description="Shirts that make you go vroom vroom">
  <section>
    {
      shirts.length ? (
        shirts.map((shirt) => <Shirt shirt={shirt} />)
      ) : (
        <Welcome />
      )
    }
  </section>
</Layout>
