---
import Welcome from "../components/Welcome.astro";
import Shirts from "../components/Shirts.astro";
import Layout from "../layouts/Layout.astro";
import { getShirts } from "../utils/sanity";
import { BackgroundImage, Picture } from "astro-imagetools/components";
const shirts = await getShirts();
---

<Layout title="Engsta Rides" description="Shirts that make you go vroom vroom">
  <BackgroundImage
    src="/src/assets/pics/open_sky.jpeg"
    attributes={{
      container: {
        class:
          "h-[30rem] md:h-[500px] xl:h-[800px] border-box md:pt-8 md:pb-16",
      },
    }}
    brightness={0.6}
    backgroundPosition="50% 60%"
  >
    <div
      class="flex h-full flex-col items-center justify-center pl-10 pr-10 md:gap-y-10 lg:pl-14 lg:pr-14"
    >
      <!-- <h1
        class="text-shadow text-lg uppercase tracking-wider text-light md:text-5xl text-graffiti"
      >
        Engsta Rides
      </h1> -->
      <!-- <h1
        class="text-shadow text-graffiti text-center text-6xl font-bold uppercase leading-tight tracking-wide text-light md:text-7xl lg:text-8xl"
      >
        Engsta Rides
      </h1> -->
    </div>
  </BackgroundImage>
  <main class="container box-border flex flex-col gap-16 pb-32 pt-14">
    <h1 class="text-center">
      <em class="font-accent">NEWEST</em>
      <p class="text-graffiti text-4xl tracking-wider sm:text-5xl">
        Spray Paint
      </p>
      <em class="font-accent">COLLECTION</em>
    </h1>
    {shirts.length ? <Shirts shirts={shirts} /> : <Welcome />}
  </main>
  <section class="grated-bg mt-6 pb-14 pt-14">
    <div
      class="mb-4 ml-auto mr-auto flex w-full max-w-lg flex-col gap-y-6 rounded bg-white px-8 pb-8 pt-6 text-center shadow-md"
    >
      <p class="mb-5 text-center font-accent text-xl">
        It was great seeing everyone.
      </p>
      <strong class="mb-5 text-center font-accent text-3xl">
        See you all next year!
      </strong>
      <Picture
        src="/src/assets/pics/palooza_2023_big.png"
        alt="PCA Palooza"
        attributes={{
          img: {
            class: "ml-auto mr-auto max-h-80",
          },
        }}
        layout="fill"
        objectFit="contain"
      />
    </div>
  </section>
</Layout>
