---
import Layout from "../layouts/Layout.astro";
import { getAccessories } from "../utils/sanity";
const accessories = await getAccessories();
import SwagItem from "../components/SwagItem.astro";
---

<Layout
  title="Engsta Rides | Custom Engsta Rides Swag"
  description="Ultimate Ride swag and gifts for Dads, gear heads, car fanatics."
>
  <h1 class="pageHeader">Swag</h1>
  <div class="container mb-20 flex flex-wrap gap-y-36">
    {
      accessories?.length > 0 &&
        accessories.map((a, i) => (
          <SwagItem product={a} reverse={i % 2 === 0} />
        ))
    }
  </div>
</Layout>
