---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Engsta Rides | Terms of Service"
  description="Shipping Policy, return policy, and more."
>
  <main class="container box-border overflow-hidden pb-5 pt-14">
    <h1
      class="w-full pb-10 text-center font-accent text-5xl font-thin tracking-wider md:col-span-2 md:h-14"
    >
      Terms of Service
    </h1>

     Shipping and Deliveries Shipping Time: Our goal is to have your order processed
    within 3-5 business days. Usually takes 3-5 business days for shipping. (I’m
    sorry but we do NOT do International orders). We try to get order shipped as
    fast as possible while still upholding to our standard of quality. Due to certain
    circumstances out of our control shipping times may vary. Delivered but not received:
    If you contacted your shipping provider and they were unable to find your package,
    please contact our customer support team so we can help you further. Tracking:
    Once the order is processed and scanned you will receive an email with your tracking
    number. When the carrier receives your package and scans it the tracking info
    will be updated. (Please allow 24 hours) If you do not receive an email with
    tracking please contact Customer Support directly. Address Correction: If you
    need an address correction please contact Customer Support. Orders was sent back
    to us: Orders that have an undeliverable address will be sent back to us. If
    we receive your order back we will contact you for and address update. Once the
    order is reshipped out you will receive a new tracking number. The tracking number
    and all that i guess is a question since i don't know how the website it setup
    as far as the shipping stuff goes... Here is another section: Refund/Return Policy:
    Refunds: All sales are final. All sales are in US Dollars. We apologize, but
    we are not able to give refunds. Exchanges: We welcome all exchanges. Any item
    you would like to exchange for another size or style must be in new, unused,
    unworn, unwashed condition. Customer is responsible for shipping product(s) to
    Engsta Rides. We will resend the exchanged item(s) to you for free. You can exchange
    merchandise for any item or items of equal value, or you may increase and pay
    the cost increase. We cannot approve any downgrade that would result in a refund.
    All exchanges must be initiated within 30 days of purchase. Any issues with defective
    merchandise must also be reported within 30 days of the date of purchase for
    warranty replacement. After 30 days, we have no further liability. Please send
    all exchanges with a printout of the original invoice and copies of any correspondence
    you have had with Customer Service. Please specify the name of the product you
    would like in exchange, and what size you would like. Include a screenshot of
    your confirmation with your return package or email the confirmation with your
    order number to support@engstarides.com. If you receive any item that is damaged
    or is incorrectly shipped by us please contact Customer Support immediately.
    Exchanges are discretionary upon inspection of item(s) when we receive your merchandise.
    Boxers/Socks/Underwear: Unfortunately we do not exchange any boxer, socks or
    underwear products due to hygiene and safety. Customer is responsible for all
    shipping costs. Shipping address for exchanges: Engsta Rides LLC Att: Exchanges
    56139 US Highway 60 Burbank, OK 74633
  </main>
</Layout>
