---
import Icon from "./common/Icon.vue";
---

<footer class="b-t-2 border-slate-700 bg-bg1 text-text1">
  <div
    class="container mt-4 box-border grid grid-cols-2 grid-rows-2 bg-engstarides bg-[length:200px_auto] bg-[1rem_87%] bg-no-repeat sm:bg-[length:400px_auto] sm:bg-[2rem] lg:bg-[4rem]"
  >
    <div class="h-24 w-4/12">
      <a href="https://www.tiktok.com/@mmengsta" class="nav__button mr-1">
        <Icon
          name="co-tiktok"
          scale="1.2"
          label="Engsta Rides Official Tiktok"
        />
      </a>
      <a href="https://www.instagram.com/engsta/" class="nav__button">
        <Icon
          name="pr-instagram"
          scale="1.2"
          label="Engsta Rides Official Instagram Page"
        />
      </a>
    </div>
    <nav class="text-right text-xs tracking-widest opacity-70">
      <a
        href="/terms-of-service"
        class="transition-all duration-300 hover:text-accent"
      >
        Terms of Service
      </a>
      <br />
      <a
        href="/contact-us"
        class="transition-all duration-300 hover:text-accent"
      >
        Contact Us
      </a>
    </nav>
    <div
      class="col-start-2 row-start-2 mt-10 box-border flex flex-wrap items-center justify-end gap-1 text-xs opacity-20 sm:col-span-1 sm:justify-start sm:text-left"
    >
      © 2023 Engsta Rides All Rights Reserved.
    </div>
  </div>
  <style scoped>
    .nav__button {
      display: inline-block;
      flex-shrink: 1;
      transition: all 0.3s;
      opacity: 0.7;
      &:hover {
        opacity: 0.3;
      }
    }
  </style>
</footer>
