<div
  class="absolute top-0 z-10 flex h-full w-full items-center justify-center bg-black bg-opacity-20 text-6xl text-white"
>
  <div style="transform: rotate(332deg); 
    text-shadow: 2px 2px 5px black;">
    SOLD
  </div>
</div>
