---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import SnipCart from "../components/SnipCart.vue";
import CommonHead from "../components/CommonHead.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <CommonHead title={title} description={description} />
  </head>
  <body transition:animate="none">
    <div class="app__layout font-sans">
      <Header />
      <slot />
      <Footer />
    </div>
    <style>
      .app__layout {
        display: grid;
        grid-template-rows: 100px 1fr auto;
        grid-template-columns: 1fr;
        min-height: 100vh;
        grid-gap: 2rem;
      }
    </style>
  </body>
</html>
