---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import SnipCart from "../components/SnipCart.vue";
import CommonHead from "../components/CommonHead.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const snipCartKey = import.meta.env.PUBLIC_SNIPCART_KEY || "YjgwYWU1ZTEtMWMyNi00NTlmLWI5Y2ItYTdjMGZkZDlhODg3NjM4MzMwODY0ODU5NzQ0OTEx";
const x = import.meta.env.PUBLIC_SANITY_DATASET;
console.log(x, 'test', snipCartKey)
---

<!doctype html>
<html lang="en">
  <head>
    <CommonHead title={title} description={description} />
  </head>
  <body>
   <SnipCart transition:persist="snipcart-base" client:load snipCartKey={snipCartKey}/>
    <div class="app__layout font-sans">
      <Header />
      <slot />
      <Footer />
    </div>
    <style>
      .app__layout {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        min-height: 100vh;
        grid-gap: 2rem;

        @media screen and (min-width: 568px) {
          grid-template-rows: 100px 1fr auto;
          grid-template-columns: 1fr;
        }
      }
    </style>
  </body>
</html>
